@import url('https://fonts.googleapis.com/css2?family=Arsenal&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
html,
body {
    background-color: #dfddda;
    color: #232221;
}


/* Nav bar */

.navbar {
    background-color: #c9c6c0;
    color: #232221;
}

.dropdown-content a i {
    color: #d0cec9;
}

.navbar a,
.dropdown .dropbtn,
.themeSwitcher {
    color: #232221;
    background-color: unset;
    font-weight: unset;
}

.dropdown-content a {
    background-color: #d0cec9;
    font-weight: unset;
    color: #232221;
}

.navbar a:hover,
.dropdown:hover {
    background-image: linear-gradient(#e67e22 90%, #b8651b 90%);
    box-shadow: 2px 0px 5px rgb(0, 0, 0, 0.2), -2px 0px 5px rgb(0, 0, 0, 0.2), 0px 2px 5px rgb(0, 0, 0, 0.2);
}

.themeSwitcher:hover {
    background-image: linear-gradient(#3498db 85%, #2a7aaf 85%, #2a7aaf 90%, #e67e22 90%, #e67e22 95%, #b8651b 95%);
}

.dropdown-content a:hover {
    background-image: unset;
    background-color: #c9c6c0;
    box-shadow: unset;
}

.darkText {
    display: none;
}


/* Header */

.banner {
    background-image: linear-gradient(#b8651b 5%, #e67e22 5%, #e67e22 95%, #b8651b 95%);
    color: #dcddde;
}
